# Python
__pycache__/
*.pyc
*.pyo

# Android
android/.gradle/
android/build/
android/app/build/
android/app/release/
*.apk
*.aab
*.jks
*.keystore
local.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
